<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h5>Upload Case Data</h5>
        </div>
        <div class="card-body my-2" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="file" class="my-2">Drag and Drop Case Data File or Click to Select:</label>
              <input type="file" id="file" (change)="onFileSelected($event)" class="form-control" accept=".zip">
            </div>
            <div class="form-group my-2">
              <button type="submit" class="btn btn-primary my-2" [disabled]="!fileToUpload">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
